<!-- #Create header for presign in page of flight booking app with tailwindcss -->
<header>
  <div
    class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-blue-600"
  >
    <div class="flex items-center">
      <h1
        class="text-2xl text-blue-600 font-semibold cursor-pointer"
        routerLink="/"
      >
        Flight Booking
      </h1>
    </div>
    <div class="flex items-center">
      <a
        routerLink="/onboarding"
        class="border-orange-500 border-2 text-orange-500 py-2 px-5 rounded font-bold hover:bg-orange-500 hover:text-white"
        >Login / Sign Up</a
      >
    </div>
  </div>
</header>
