<div class="my-4" *ngFor="let flight of flightDetails">
  <div
    class="left-0 right-0 m-auto bg-white w-fit py-10 px-20 shadow-xl rounded"
    *ngIf="flight"
  >
    <div class="flex flex-grow justify-center align-middle">
      <div class="flex-col border-r-2 p-5 pr-10">
        <img src="{{ flight.airlineLogo }}" class="w-24" alt="" />
        <p class="text-center font-bold">{{ flight.flightNumber }}</p>
      </div>
      <div class="flex p-5 pr-10">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-lg">
            {{ flight.departureTime | date : "shortTime" }}
          </p>
          <p class="text-center font-semibold">
            {{ flight.origin | uppercase }}
          </p>
        </div>
      </div>
      <div class="flex p-5 pr-10">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-lg text-center">
            ₹{{ flight.flightPrice }}
            <span class="text-gray-400 font-normal">/ pax </span>
          </p>
          <div class="border-2 border-dotted my-3 border-gray-200 relative">
            <svg
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 12 12"
              enable-background="new 0 0 12 12"
              xml:space="preserve"
              class="airplane-icon"
            >
              <path
                fill="#0a0a0a"
                d="M3.922,12h0.499c0.181,0,0.349-0.093,0.444-0.247L7.949,6.8l3.233-0.019C11.625,6.791,11.989,6.44,12,6 c-0.012-0.44-0.375-0.792-0.818-0.781L7.949,5.2L4.866,0.246C4.77,0.093,4.602,0,4.421,0L3.922,0c-0.367,0-0.62,0.367-0.489,0.71 L5.149,5.2l-2.853,0L1.632,3.87c-0.084-0.167-0.25-0.277-0.436-0.288L0,3.509L1.097,6L0,8.491l1.196-0.073 C1.382,8.407,1.548,8.297,1.632,8.13L2.296,6.8h2.853l-1.716,4.49C3.302,11.633,3.555,12,3.922,12"
              ></path>
            </svg>
          </div>
          <p class="font-semibold text-lg">
            {{ flight.departureTime | date : "fullDate" }}
          </p>
        </div>
      </div>
      <div class="flex p-5 pr-10">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-lg">
            {{ flight.arrivalTime | date : "shortTime" }}
          </p>
          <p class="text-center font-semibold">
            {{ flight.destination | uppercase }}
          </p>
        </div>
      </div>
      <div class="flex p-5">
        <div class="flex flex-col justify-center">
          <button
            (click)="onFlightSelect(flight)"
            class="bg-orange-500 font-bold w-fit text-white rounded-full py-2 px-16 hover:bg-orange-400 active:bg-orange-500 transition duration-300 ease-in-out flex items-center cursor-pointer"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
